*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#mainDiv{
    background-color: burlywood;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#centerDiv{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
}

#maintext{
    border-radius: 10px 10px 0 0 ;
    border: 10px solid bisque;
    box-shadow: 3px 3px 5px green;
    padding: 20px;
    font-size: 1rem;
}

h1{
    padding: 30px;
    margin-bottom: 40px;
}
 h2{
     text-align: center;
 }

#mainbtn{
    margin: 30px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 2px 2px 4px green;
}
#subheads{
    color: red;
    font-style: italic;
    font-family: 'Langar', cursive;
}