*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

#mainDiv{
    /* position: relative; */
   width: 100vw;
     height: 100vh;
}

#centerDiv{
    text-align: center;
    /* position: absolute; */
    /* left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%); */
}

#maintext{
    width: 800px;
    border-radius: 10px 10px 0 0 ;
    border: 10px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 5px green;
    padding: 20px;
    font-size: 1rem;
}

h1{
    padding: 30px;
    margin-bottom: 40px;
}
 h2{
     text-align: center;
 }

#mainbtn{
    margin: 30px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 2px 2px 4px green;
}
#subheads{
    color: red;
    font-style: italic;
    font-family: 'Langar', cursive;
}

@media(min-width:751px) and (max-width:910px){
    #maintext{
        width: 600px;
    }
}

@media (min-width:401px) and (max-width:750px){
    #maintext{
        width: 400px;
    }
}


@media (max-width:400px){
    #maintext{
        width: 200px;
    }
}
